<link rel="stylesheet" href="{{ "css/custom_css.css" | absURL }}" />
<div class=flag-row>
{{ $siteLanguages := site.Languages}}
{{ $pageLang := .Page.Lang}}
{{- range .Page.AllTranslations }}
    {{ $translation := . }}
    {{- range sort $siteLanguages "Weight" "asc" }}
        {{- if eq $translation.Lang .Lang }}
        <a class="flag" href="{{ $translation.Permalink | relURL }}"><img src="{{ .Params.languageImage }}" alt="{{ .Params.languageNameShort }}"></a>
        {{- end }}
    {{- end }}
{{- end }}
</div>
